#upparbox{
	background-color:#ccc;
	height:100px; 
}
#leftbox { 
			float:left;  
			background-color:#aaa; 
			width:25%; 
			height:500px; 
} 
#rightbox{ 
			float:right; 
			background-color:#bbb; 
			width:75%; 
			height:500px;  
} 
h1{ 
			color:Black; 
			text-align:center; 
} 
.submit-btn{
	height: 50px;
	width: 150px;
	background-color:#ccc;
    margin-left: 80px;
    margin-top: 20px;
	border: none;
	color: #000;
	border-radius: 25px;
}
.submit-btn:hover{
	background: #ffcl07;
	cursor: pointer;
}
.submit-field{
	height:40px;
	margin-left: 265px;
	margin-top: 40px;
	padding: 10px;
	border: none;
	border-radius: 15px;
	outline: none;
}
.topic{
	width: 294px;
}
.add-btn{
	height: 40px;
	width: 150px;
	background-color:#ccc;
    margin-left: 5px;
    margin-top: 20px;
	border: none;
	color: #000;
	border-radius: 15px;
}
.add-btn:hover{
	background: #ffcl07;
	cursor: pointer;
}
.textareas{
	margin-left: 265px;
	margin-top: 15px;
	padding: 10px;
	border: none;
	border-radius: 15px;
	outline: none;
}
.start-btn{
	height: 40px;
	width: 150px;
	margin-left: 380px;
	margin-top: 15px;
	background-color:#aaa;
	border: none;
	color: #000;
	border-radius: 15px;
}
.output-textareas{
	background: url(http://i.stack.imgur.com/ynxjD.png) repeat-y;
	margin-left: 163px;
	margin-top: 15px;
	padding: 2px 10px;
	outline: none;
	width: 600px;
	height: 230px;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	
	line-height: 25px;
	border: solid 1px #ddd;
}
